.frontPost {
    position: relative;
    height: 100vh;
}
.button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 16px;
}
.contactMe {
    padding: 48px;
    padding-top: 0;
}
@media all and (min-device-width: 768px) {
    .contactMe {
        width: 65%;
        padding-inline: 12%;
        padding-bottom: 7%;
    }
}
