.navBar {
    --height: 72px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--height);
    padding-inline: 24px;
    background: linear-gradient(180deg, rgba(0, 23, 38, 0.75) 25%, transparent);
    z-index: 1;
}
.navBar > .navList {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    margin: 0;
    list-style-type: none;
}
.navBar .navIcon {
    width: initial;
    height: 100%;
    padding-top: 24px;
    padding-bottom: 16px;
    transition: all ease-in-out 250ms;
}
.navBar .navIcon.navLogo {
    padding-top: 16px;
}
.navBar .navIcon.navLogo:focus,
.navBar .navIcon.navLogo:hover,
.navBar .navIconWrapper:focus .navIcon,
.navBar .navIconWrapper:hover .navIcon {
    translate: 0 0.5em;
    filter: drop-shadow(0 0 16px var(--gb-primary));
}
