.pagination {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    margin-top: var(--fs-xl);
    margin-bottom: var(--fs-600);
}
.arrow {
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 16px;
}
.arrow.selected {
    cursor: pointer;
}
.arrow:first-of-type {
    scale: -1 1;
}
.arrow > .icon {
    width: initial;
    height: 100%;
    transition: all ease-in-out 250ms;
}
.arrow.selected:focus > .icon,
.arrow.selected:hover > .icon {
    translate: 0 -0.25em;
    filter: grayscale(1) brightness(1.8) drop-shadow(0 0 8px var(--gb-primary));
}
.arrow.selected > .icon {
    filter: grayscale(1) brightness(1.8);
}
