.gradient {
    --gradient-start: #001524cc;
    --gradient-end: #00152440;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--gradient-start) 0, var(--gradient-end));
    scale: 1 1.01;
}
.gradient.cover {
    --gradient-start: #001726;
    --gradient-end: transparent;
}
.image {
    object-fit: cover;
}
.content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-inline: 24px;
    padding-bottom: 24px;
}
.content > .text > h1,
.content > .text > h2 {
    margin-top: 8px;
    margin-bottom: 24px;
}
.new {
    color: var(--gb-primary);
    text-shadow: 0 0 32px var(--gb-primary);
}
.information {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
